In [1]:
import pandas as pd

식당데이터 : https://github.com/justmarkham/DAT8/blob/master/data/chipotle.tsv

DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv’

### Q20. 데이터 로드

In [4]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'

df2 = pd.read_csv(DataUrl)
Ans20 = type(df2)
Ans20

pandas.core.frame.DataFrame

### Q21. quantity 컬럼 값이 3인 데이터를 추출하여 첫 5행 출력

In [9]:
Ans21 = df2[df2.quantity == 3].head(5)
Ans21

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

### Q22. quantity 컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행 출력 ★

In [12]:
Ans22 = df2[df2.quantity == 3].reset_index(drop = True)
Ans22

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75
5,379,3,Canned Soft Drink,[Lemonade],$3.75
6,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$27.75
7,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$26.25
8,633,3,Canned Soft Drink,[Coke],$3.75
9,1051,3,Chips and Guacamole,NaN,$13.35
10,1121,3,Bottled Water,NaN,$3.27
11,1167,3,Chips,NaN,$6.45
12,1170,3,Side of Chips,NaN,$5.07
13,1182,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
14,1231,3,Canned Soft Drink,[Diet Coke],$3.75
15,1247,3,Canned Soft Drink,[Diet Coke],$3.75
16,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
17,1321,3,Bottled Water,NaN,$4.50
18,1328,3,Bottled Water,NaN,$4.50
19,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",$26.07
20,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
21,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
22,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
23,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
24,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
25,1642,3,Canned Soft Drink,[Diet Coke],$3.75
26,1655,3,Bottled Water,NaN,$4.50
27,1671,3,Bottled Water,NaN,$4.50

### Q23. quantity, item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임 정의

In [15]:
Ans23_df =  df2[['quantity', 'item_price']]
Ans23_df

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

### Q24. item_price 컬럼의 달러표시 문자 제거, float 타입으로 저장 후 new_price컬럼에 저장 ★

In [24]:
df2['new_price'] = df2['item_price'].str[1:].astype('float')
Ans24 = df2['new_price'].head()
Ans24

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

### Q25. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수 세기

In [31]:
Ans25 = len(df2[df2['new_price'] <= 5])
Ans25

1652

### Q26. item_name 명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index값을 초기화

In [35]:
Ans26 = df2[df2['item_name'] == 'Chicken Salad Bowl'].reset_index(drop=True)

Ans26

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
...,...,...,...,...,...,...
105,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50
106,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25,11.25
107,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
108,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
109,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

### Q27. new_price 값이 9 이하이고 item_name 이 Chicken Salad Bowl 인 데이터프레임 추출

In [42]:
Ans27 = df2[(df2.item_name == 'Chicken Salad Bowl') & (df2.new_price <= 9)]
Ans27

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
568,234,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
585,240,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
693,286,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",$8.75,8.75
702,289,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$8.75,8.75
762,314,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
1109,458,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1460,592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
1471,598,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1483,602,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
1547,628,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1601,649,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1621,654,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1756,709,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
1977,798,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
2031,818,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
2113,850,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75,8.75
2224,896,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...",$8.75,8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75,8.75
2728,1083,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
2858,1136,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
2883,1145,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
2897,1152,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, Cheese]",$8.75,8.75
2989,1189,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
3033,1206,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3069,1222,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$8.75,8.75
3117,1243,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3259,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
3261,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3310,1327,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
3315,1329,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75,8.75
3381,1357,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3411,1368,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Lettuce]]",$8.75,8.75
3623,1450,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3656,1461,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75,8.75
3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
3790,1517,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
3798,1521,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3974,1592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...",$8.75,8.75
3997,1601,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
4012,1606,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
4035,1615,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
4064,1627,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4205,1679,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
4207,1679,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
4333,1730,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",$8.75,8.75
4352,1738,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75
4439,1769,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4520,1797,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

### Q28. df2 의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화

In [49]:
Ans28 = df2.sort_values('new_price', ascending=False).reset_index(drop=True)
Ans28.head(4)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00

### Q29. df2의 item_name 칼럼 중 Chips포함하는 경우의 데이터 출력

In [52]:
Ans29 = df2[df2.item_name.str.contains('Chips')]
Ans29.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

### Q30. df 의 짝수번째 컬럼을 포함하는 데이터프레임 출력

In [54]:
df2[::2]

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
6,3,1,Side of Chips,NaN,$1.69,1.69
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
...,...,...,...,...,...,...
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25,9.25
4614,1831,1,Bottled Water,NaN,$1.50,1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75